<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1572ee31-1ac2-457a-af81-664fb006d001/resourceGroups/ActionFlow/providers/Microsoft.Web/sites/ActionFlowAPIService20210214021113</ResourceId>
    <ResourceGroup>ActionFlow</ResourceGroup>
    <ApiResourceId>/subscriptions/1572ee31-1ac2-457a-af81-664fb006d001/resourceGroups/ActionFlow/providers/Microsoft.ApiManagement/service/ActionFlowAPIManagement/apis/actionflowapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://actionflowapiservice20210214021113.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>06393f2a-82eb-4e8c-8f13-b1e59a5b4f31</ProjectGuid>
    <MSDeployServiceURL>actionflowapiservice20210214021113.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ActionFlowAPIService20210214021113</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ActionFlowAPIService20210214021113</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <TargetFramework>net5.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>